@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ubuntu;
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
}


@font-face {
  font-family: Agustina;
  src: url('../assets/fonts/Agustina.woff');
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: Ubuntu;
  user-select: none;
}

.transitions {
  transition: 0.3s ease-in-out;
}

body {
  position: relative;
  height: 200vh;
}

.box>div:nth-child(2) {
  transition: 0.3s ease-in-out;
}

.box:hover>div:nth-child(2) {
  transform: translateX(10px);
  transition: 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.before::before {
  transition: 0.3s ease-in-out;
}